# Dependencies
node_modules/

# Environment variables
.env
*.env.local

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Production
/frontend/build
/backend/dist
